@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  #app {
    margin: 0 auto;
    padding: 1rem;
    font-weight: normal;
  }
}

@media (min-width: 1024px) {
  #app {
    margin: 0 auto;
    padding: 1rem;
    font-weight: normal;
  }
}
